<a href="https://colab.research.google.com/github/DuillesAD/Challenge-Telecon-X-analise-de-dados/blob/main/Challenge_Telecon_X_analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
# Bibliotecas que podem ser usadas
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import json

In [37]:
# Abertura do arquivo
with open("/content/TelecomX_Data.json") as f:
    dados_telecon = json.load(f)

In [38]:
# Normalização dos dados
df = pd.json_normalize(dados_telecon, sep=".")
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [39]:
# Visualização dos tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [40]:
df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [41]:
df.duplicated().sum()

np.int64(0)

In [42]:
valores_unicos = df.select_dtypes(include=["object", "category"]).columns

for coluna in valores_unicos:
    print(f"Valores únicos em {coluna}:")
    print(df[coluna].value_counts(dropna=False))

Valores únicos em customerID:
customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
9970-QBCDA    1
9968-FFVVH    1
             ..
0014-BMAQU    1
0013-SMEOE    1
0013-MHZWF    1
0013-EXCHZ    1
0011-IGKFF    1
Name: count, Length: 7267, dtype: int64
Valores únicos em Churn:
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64
Valores únicos em customer.gender:
customer.gender
Male      3675
Female    3592
Name: count, dtype: int64
Valores únicos em customer.Partner:
customer.Partner
No     3749
Yes    3518
Name: count, dtype: int64
Valores únicos em customer.Dependents:
customer.Dependents
No     5086
Yes    2181
Name: count, dtype: int64
Valores únicos em phone.PhoneService:
phone.PhoneService
Yes    6560
No      707
Name: count, dtype: int64
Valores únicos em phone.MultipleLines:
phone.MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64
Valores únicos em internet.InternetService:
internet.InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64
Valores únicos em internet.OnlineSecurity:
internet.OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64
Valores únicos em internet.OnlineBackup:
internet.OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64
Valores únicos em internet.DeviceProtection:
internet.DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64
Valores únicos em internet.TechSupport:
internet.TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64
Valores únicos em internet.StreamingTV:
internet.StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64
Valores únicos em internet.StreamingMovies:
internet.StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64
Valores únicos em account.Contract:
account.Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64
Valores únicos em account.PaperlessBilling:
account.PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64
Valores únicos em account.PaymentMethod:
account.PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64
Valores únicos em account.Charges.Total:
account.Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64

In [43]:
# Contar valores nulos ou em branco por coluna
valores_nulos_ou_vazios = df.apply(lambda x: x.isnull() | (x.astype(str).str.strip() == '')).sum()

# Exibir colunas com pelo menos 1 valor inválido
print("\nValores nulos, em branco ou strings vazias por coluna:")
print(valores_nulos_ou_vazios[valores_nulos_ou_vazios > 0])

Valores nulos, em branco ou strings vazias por coluna:
Churn                    224
account.Charges.Total     11
dtype: int64

In [44]:
# Remover linhas duplicadas
df = df.drop_duplicates()

In [45]:
# identificar e substituir strings vazias por NaN
df.replace(r"^\s*$", np.nan, regex=True, inplace=True)

In [46]:
# Padronizar textos (remover espaços e colocar em minúsculo) em colunas de texto
coluna_texto = df.select_dtypes(include=['object', 'category']).columns
for col in coluna_texto:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [47]:
# Verificar novamente os nulos após limpeza de strings
print("Valores nulos após limpeza:")
print(df.isnull().sum()[df.isnull().sum() > 0])

Valores nulos após limpeza:
Series([], dtype: int64)

In [49]:
df.describe(include='all')

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
count,7267,7267,7267,7267.000000,7267,7267,7267.000000,7267,7267,7267,...,7267,7267,7267,7267,7267,7267,7267,7267,7267.000000,7267
unique,7267,3,2,NaN,2,2,NaN,2,3,3,...,3,3,3,3,3,3,2,4,NaN,6531
top,9995-hotoh,no,male,NaN,no,no,NaN,yes,no,fiber optic,...,no,no,no,no,no,month-to-month,yes,electronic check,NaN,20.2
freq,1,5174,3675,NaN,3749,5086,NaN,6560,3495,3198,...,3182,3195,3582,2896,2870,4005,4311,2445,NaN,11
mean,NaN,NaN,NaN,0.162653,NaN,NaN,32.346498,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.720098,NaN
std,NaN,NaN,NaN,0.369074,NaN,NaN,24.571773,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.129572,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.425000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.300000,NaN
75%,NaN,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.875000,NaN
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN